[submodule "JiT"]
	path = JiT
	url = https://github.com/LTH14/JiT.git
[submodule "DiT"]
	path = DiT
	url = http://github.com/facebookresearch/DiT
[submodule "guided-diffusion"]
	path = guided-diffusion
	url = https://github.com/openai/guided-diffusion/
[submodule "LightningDiT"]
	path = LightningDiT
	url = https://github.com/hustvl/LightningDiT.git
